<% if @user.admin? || @user.guest? || @user.hr? %>
<h1>Онлайн процедура БОРД</h1>
<p>Сотруднику, зарегистрированному в системе, автоматически будет предложено заполнить анкету в он-лайн режиме.</p>
<p>Менеджер сможет выбрать из списка одного из своих сотрудников, чтобы совместно завершить процесс БОРД (выставить итоговые оценки).</p>
<% elsif @user.manager? %>
  <h1>Процесс БОРД для руководителя</h1>
  <%= render 'index_manager' %>
<% else %>
  <h1>Процесс БОРД для сотрудника</h1>
  <%= render 'index_employee' %>
<% end %>