<h1>Функциональные возможности пилотной системы БОРД</h1>

<p>Данный проект создан для проведения БОРД процедуры в режиме онлайн.<br>
   Проект реализуется в магазине Лефортово.</p>

<h3>Обзор модели</h3>
<p>
  Представлена матрица компетенций <br>
  - с выделением описания компетенции для каждой должности (при наведении курсора)<br>
  - и перечнем поведенческих индикаторов для всех уровней (в выпадающем окне, которое появляется при клике на компетенцию).
</p>

<h3>БОРД</h3>
<p>
  В режиме он-лайн:<br>
  - зарегистрированные сотрудники могут выполнить процедуру БОРД или просмотреть ее результаты<br>
  - их менеджеры могут завершить процедуру БОРД
</p>

<h3>Отчетность</h3>
<p>
  На странице отчетов руководители отделов и руководитель службы персонала могут просмотреть результаты БОРД
  сотрудников своего магазина.<br>
  Пользователь "Гость" может увидеть образец отчета.
</p>

<h3>Администрирование</h3>
<p>Описание функциональных возможностей - на странице "Администрирование"<br>
   Видеть эту страницу и иметь доступ к модулю Администрирования могут только администраторы системы
</p>

<h3>Завершение работы</h3>
<p>для выхода из системы кликните на ссылку "Log out" в верхнем правом углу страницы</p>
