<p id="notice"><%= notice %></p>

<table class="ztTable">
    <tr>
      <td class="descr"><%= @item.behavior.content %></td>
      <td class="cb"><%= @item.user_tick == true ? image_tag("checkmark.png", :size => "21x23") : '' %></td>
    </tr>
  </table>

<br>
<%#= link_to 'Edit', edit_item_path(@item) %>
<%= link_to 'Назад', items_path(assessment_id: @assessment.id) %>
